/*CSS com alterações customizadas*/ 
@font-face {
    font-family: 'Signika';
    src: url('../../fonts/signika/Signika/Signika-Regular.ttf');
}

body {
    background-color: #EFEFEF; 
    font-family: 'Signika', sans-serif;
}

form {
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    padding: 1em;
    
}
form label {
    color: #004768; 
}
form h4{
    color: #004768;
    text-align: center;
}
#button {
    text-align: center;
}
form button[type='submit'] {
    background-color: #0094cf;
    border: none;
}


.btn-primary{
    background-color: #FFFFFF;
    color: #0094cf; 
    margin-left: 70%;
    border: none;
}
.btn-primary:hover{
    background-color: #FFFFFF;
    color: #0284b8;
}
#anchor a{  
    margin-top: 0.5em;
    display: flex;
    justify-content: center;  
    color: #004768;
}

