<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="view/styles/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="view/styles/css/custom.css">
    
   <link rel="shortcut icon" type="image/x-icon" href="primeiros_socorros.ico">
    <title>Dashboard Fácil Consulta</title>
</head>
<body>
  <div class="container-{breakpoint}">
    
        <div class="navbar bg-primary">
            <button class="btn btn-primary" type="button">Cadastro de médico</button>
        </div>
    
  </div><!--Container geral-->
        
</body>
</html>